@{
    ViewData["Title"] = "Access Deniced";
}
<div class="row">
    <div class="col-4 offset-4" >
        <h2 class="display-4 border-bottom text-center pb-2" >@ViewData["Title"]</h1>
    </div>
</div>

 <div class="row">
     <div class="col text-center">
         <p>
             İlgili sayfaya erişiminz YOK !!!
         </p>
         <a asp-action="Index" asp-controller="Home" class="btn btn-primary"> Home Sayfası</a>
     </div>
</div>